---
layout: default
title: South Park | Residents
permalink: /residents/
active: residents
---
<div class="residents-main">
<div class="residents-inner">
	<h2>Residents</h2>
	<h3>South Park attracts a lot of startups and creative companies</h3>
	<div class="residents-list">
		<ul>
		{% for resident in site.data.residents %}
			<li class="residents-tab"><a href="javascript:void(0)">{{resident.name}}</a></li>
		{% endfor %}
		</ul>
	</div>
	<div class="residents-information">
		{% for resident in site.data.residents %}
			<p class="residents-content">{{resident.description}}</p>
		{% endfor %}
	</div>
</div>
</div>